################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppVenda/.vs
/ConsoleAppVenda/APIWeb/obj

obj
bin
.vs